#hourly-weather-section {
  #dates-container {
    display: grid;
    grid-template-columns: repeat(5, auto);
    gap: 1rem;
    margin: 1rem;
    overflow-x: scroll;
    scrollbar-width: none;
    white-space: nowrap;
    cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur),
      default !important; /* cursor: grab; does not work on Chrome. */

    &::-webkit-scrollbar {
      width: 0 !important;
      display: none;
    }

    a {
      text-align: center;
      padding: 0.1rem 0.5rem;
      border-radius: 2rem;
      cursor: pointer;
    }

    .active {
      background-color: rgba(255, 255, 255, 0.3);
    }
  }

  #hourly-weather {
    margin: 1rem;
    overflow-x: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      width: 0 !important;
      display: none;
    }

    .daily-weather-container {
      display: grid;
      grid-template-columns: repeat(9, auto);
      gap: 1rem;
      position: relative;
    }

    .hourly-weather-card {
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: rgba(255, 255, 255, 0.3);
      border-radius: 1rem;
      height: 170px;
      width: 120px;
      padding: 0.5rem;
      cursor: url(https://ssl.gstatic.com/ui/v1/icons/mail/images/2/openhand.cur),
        default !important; /* cursor: grab; does not work on Chrome. */
    }

    .time {
      font-family: "Teko", sans-serif;
      font-size: 1.5rem;
    }
  }
}
