@media all and (max-width: 500px) {
  #search-location-input {
    display: none;
    position: absolute;
    top: 36px;
    left: 50%;
    transform: translateX(-50%);

    animation: dropdown 0.5s;
  }
}
